.about {
  height: 540px;

  &__img-wrapper {
    position: absolute;
    background-image: url(../img/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: calc(100% - 16%);
    background-size: cover;
    z-index: -1;
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__bg {
    position: absolute;
    max-width: 1900px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  &__title {
    margin-bottom: 23px;
  }
  &__inner {
    background-color: var(--color-espresso);
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 45px;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    &-inner {
      padding: 40px 30px 55px 60px;
      color: var(--color-white);
      position: relative;
      margin-right: 40px;
      margin-bottom: 20px;
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 130px;
        height: 130px;
        z-index: 2;
      }

      &::after {
        background-image: url(../img/sprite.svg#about-top-left-angle);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0px;
        left: 0;
      }
      &::before {
        background-image: url(../img/sprite.svg#about-bottom-right-angle);
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        bottom: 0px;
        right: 0px;
      }
    }
  }

  &__btn {
    margin-left: 70px;
  }

  &__img {
    max-width: 340px;
    max-height: 340px;
  }
  &__blockquote {
    margin: 0;

    &-text {
      margin-bottom: 20px;
      line-height: 19px;
    }
    &-autor {
      font: var(--autor);
      margin-left: 40px;
      position: relative;
      &::before {
        content: "";
        width: 30px;
        height: 1px;
        background-color: var(--color-white);
        position: absolute;
        left: -40px;
        top: 50%;
      }
    }
  }
}
