<header class="header">
  <div class="container">
    <div class="header__inner">

      <div class="header__left">
        <a href="tell:+12323498447" class="header__tell">+1 (232) 349–8447</a>
        <a href="mailto:info@demolink.org" class="header__mail">info@demolink.org</a>
      </div>

      <div class="header__right">
        <div class="header__social social">

          <ul class="social__list list-reset">
            <li class="social__item"><a href="" class="social__link">
                <img src="img/sprite.svg#facebook" alt="facebook" class="social__icon">
              </a></li>
            <li class="social__item"><a href="" class="social__link">
                <img src="img/sprite.svg#twitter" alt="twitter" class="social__icon">
              </a></li>
            <li class="social__item"><a href="" class="social__link">
                <img src="img/sprite.svg#inst" alt="inst" class="social__icon">
              </a></li>
          </ul>

        </div>

        <form class="header__search" action="">
          <input type="text" class="header__search-input" placeholder="Что будем искать?">
        </form>
      </div>

    </div>
  </div>
</header>