<section class="kinds">
	<div class="kinds__container container">
		<ul class="kinds__list list-reset grid">
			<li class="kinds__item">
				<img src="img/kinds-1.jpg" alt="" class="kinds__img">
				<a href="#" class="kinds__link">
					<span class="kinds__link-title">Espresso</span>
					<span class="kinds__link-italic">Strong coffee</span>
				</a>
			</li>
			<li class="kinds__item">
				<img src="img/kinds-2.jpg" alt="" class="kinds__img">
				<a href="#" class="kinds__link">
					<span class="kinds__link-title">Coffee with milk</span>
					<span class="kinds__link-italic">Strong coffee</span>
				</a>
			</li>
			<li class="kinds__item">
				<img src="img/kinds-3.jpg" alt="" class="kinds__img">
				<a href="#" class="kinds__link">
					<span class="kinds__link-title">Iced coffee</span>
					<span class="kinds__link-italic">Strong coffee</span>
				</a>
			</li>
			<li class="kinds__item kinds__title-wrapper">
				<h2 class="kinds__title title">Kinds<span class="kinds__title-italic">of coffee</span></h2>
				<p class="kinds__text p-reset">You can try each
					of them in our coffee shops</p>
				<a href="#" class="kinds__btn sideways-hover">Read more</a>
			</li>
		</ul>

	</div>
</section>