<section class="navigation">
	<div class="container">
		<div class="navigation__inner">
			<img src="img/logo.svg" alt="logo" class="navigation__logo">
			<nav class="menu navigation__menu">
				<ul class="menu__list list-reset">
					<li class="menu__item link-active"><a class="menu__link" href="#">Home</a></li>
					<li class="menu__item link-hover"><a class="menu__link" href="#">About Us</a></li>
					<li class="menu__item link-hover"><a class="menu__link" href="#">Menu</a></li>
					<li class="menu__item submenu-hover menu__item--trigger"><a class="menu__link submenu" href="#">Products</a>
						<ul class="menu__submenu2 submenu__list list-reset">
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Product2</a></li>
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Product3</a></li>
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Product1</a></li>
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Product4</a></li>
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Product5</a></li>
						</ul>
					</li>
					<li class="menu__item submenu-hover menu__item--trigger"><a class="menu__link" href="#">Blog</a>
						<ul class="menu__submenu submenu__list list-reset">
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Blog2</a></li>
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Blog3</a></li>
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Blog1</a></li>
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Blog4</a></li>
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Blog5</a></li>
						</ul>
					</li>
					<li class="menu__item submenu-hover menu__item--trigger"><a class="menu__link" href="#">Pages</a>
						<ul class="menu__submenu submenu__list list-reset">
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Page2</a></li>
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Page3</a></li>
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Page1</a></li>
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Page4</a></li>
							<li class="submenu__item link-hover"><a href="#" class="submenu__link">Page5</a></li>
						</ul>
					</li>
					<li class="menu__item link-hover"><a class="menu__link" href="#">Contacts</a></li>
				</ul>
			</nav>
		</div>
	</div>


</section>