<section class="recall">
	<div class="container recall__container">
		<h2 class="recall__title very-big-title">Testimonials</h2>

		<div class="recall__swiper-container swiper-container mySwiper">
			<div class="recall__swiper-wrapper swiper-wrapper">
				<div class="recall__swiper-slide swiper-slide">
					<blockquote class="recall__blockquote">
						<div class="recall__blockquote-wrapper">
							<strong class="recall__blockquote-title">Best coffee in town...</strong>
							<p class="recall__blockquote-text p-reset">
								This is my favourite coffee shop when I'm in Lviv. Freshly roasted coffee they can make with their own
								home made coconut
								milk if you want. Lovely staff, very friendly and helpful. You can get non coffee drinks too.
							</p>
						</div>
						<div class="recall__blockquote-autor-wrapper">
							<img src="img/recall-1.jpg" alt="autor-photo" class="recall__blockquote-photo">
							<cite class="recall__blockquote-autor">Amanda</cite>
						</div>
					</blockquote>
				</div>
				<div class="recall__swiper-slide swiper-slide">
					<blockquote class="recall__blockquote">
						<div class="recall__blockquote-wrapper">
							<strong class="recall__blockquote-title">Amazing coffee....</strong>
							<p class="recall__blockquote-text p-reset">
								Absolutely LOVED it! The coffee was great, as was the atmosphere and the staff. The artwork and scenery
								were beautiful!
								I'm telling everyone I know! I will definitely frequent Coffee World!!
							</p>
						</div>
						<div class="recall__blockquote-autor-wrapper">
							<img src="img/recall-2.jpg" alt="autor-photo" class="recall__blockquote-photo">
							<cite class="recall__blockquote-autor">Carl</cite>
						</div>
					</blockquote>
				</div>

			</div>
			<div class="recall__swiper-button-next swiper-button-next"></div>
			<div class="recall__swiper-button-prev swiper-button-prev"></div>
		</div>
	</div>
</section>