<section class="statistics">
	<div class="statistics__container container">
		<ul class="statistics__list list-reset grid">
			<li class="statistics__item">
				<span class="statistics__num">10</span>
				<span class="statistics__name">Coffee shops</span>
			</li>
			<li class="statistics__item">
				<span class="statistics__num">3</span>
				<span class="statistics__name">Cities</span>
			</li>
			<li class="statistics__item">
				<span class="statistics__num">2</span>
				<span class="statistics__name">Years of work</span>
			</li>
		</ul>
	</div>
	<div class="statistics__img-wrapper">

	</div>
</section>