<section class="types">
	<div class="container">
		<h2 class="types__title is-hidden">Types of food</h2>
		<ul class="types__list list-reset grid">
			<li class="types__item">
				<img src="/img/sprite.svg#coffee-cup" alt="coffee-cup" class="types__img">
				<span class="types__title">Coffee</span>
				<p class="types__text p-reset">Coffee is best stored in an airtight container made of ceramic, glass or
					non-reactive
					metal</p>
			</li>
			<li class="types__item">
				<img src="/img/sprite.svg#iced-coffee" alt="coffee-cup" class="types__img">
				<span class="types__title">Coffee beverages</span>
				<p class="types__text p-reset">Coffee is best stored in an airtight container made of ceramic, glass or
					non-reactive
					metal</p>
			</li>
			<li class="types__item">
				<img src="/img/sprite.svg#food-tray" alt="coffee-cup" class="types__img">
				<span class="types__title">Food</span>
				<p class="types__text p-reset">Coffee is best stored in an airtight container made of ceramic, glass or
					non-reactive
					metal</p>
			</li>

		</ul>
	</div>
</section>